
module myabrt 1.0;

require {
	type abrt_t;
	type var_lib_t;
	class dir write;
}

#============= abrt_t ==============
allow abrt_t var_lib_t:dir write;
